.texti{
font-size: xx-large;
font-weight: bold;
}
.app{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 202, 202);
}
.wrapper{
  text-align: center;
}
.underline{
  background-color: blueviolet ;
  height: 4px;
  width: 20%;
  margin-top: 0.25rem
}
.poop{
  display: flex;
  flex-direction: column;
  position: relative;
}
.imagei{
aspect-ratio: 1/1;
width: 140px;
height: 140px;
z-index: 25;
border-radius: 9999px;
}
.imagediv{
  position: absolute;
  top: -7rem;
  z-index: 10;
  margin-left: auto;
margin-right: auto;
}
.test{
  width:85vw ;
}